<header class="tw-p-4 tw-h-auto">
  <div class="tw-flex tw-flex-row tw-text-center tw-justify-center tw-mx-auto">
    <img
      src="/../img/logoblueonlym.png"
      alt="logo image"
      width="100"
      class="tw-text-center tw-align-middle tw-pr-4"
    />
    <span class="lg:tw-text-6xl lg:tw-flex tw-hidden tw-text-blue-700 tw-italic"
      >martinbreynolds.dev</span
    >
  </div>
  <div class="tw-pt-3 tw-pb-6">{% include './nav.njk' %}</div>
</header>
