<ol
  reversed
  class="postlist"
  style="counter-reset: start-from {{ (postslistCounter or postslist.length) + 1 }}"
>
  <div class="container">
    <div class="row mb-3">
      {% for post in postslist | reverse %} {% include
      './layouts/components/card.njk' %} {% endfor %}
    </div>
  </div>
</ol>
