<div
  class="tw-text-2xl tw-p-6 tw-font-semibold tw-text-center tw-mt-8 tw-text-cyan-600 tw-uppercase tw-bg-cyan-900"
>
  Check out my Latest {% if maxPosts == 1 %}Post{% else %}{{ maxPosts }} Posts{%
  endif %} <i class="fas fa-arrow-down tw-text-gray-50 tw-m-3"></i>
</div>

<ol
  reversed
  class="postlist"
  style="counter-reset: start-from {{ (postslistCounter or postslist.length) + 1 }}"
>
  <div class="tw-px-6 tw-mx-auto">
    <div class="tw-grid lg:tw-grid-cols-3 tw-grid-cols-1 tw-gap-4 tw-mb-3">
      {% for post in postslist | reverse %} {% include
      './layouts/components/card.njk' %} {% endfor %}
    </div>
  </div>
</ol>

<div class="tw-p-8 tw-mx-auto tw-text-center">
  <a href="{{ '/posts/' | url }}"
    ><button
      type="button"
      class="tw-p-3 tw-bg-cyan-200 tw-text-gray-900 tw-font-bold tw-rounded-md tw-mx-auto"
    >
      Read More Posts in the Archive.
    </button></a
  >
</div>
