---
layout: layouts/home.njk
permalink: /posts/
eleventyNavigation:
  key: Archive
  order: 2
---
<div class=" tw-text-cyan-50 tw-font-bold tw-text-center tw-p-3 tw-border-0 tw-rounded-t-2xl tw-bg-cyan-900 tw-mb-4 tw-uppercase">
<h1 class="tw-text-2xl">Blog Archive</h1>
{% set maxPosts = collections.posts.length %}
<h5 class=" tw-text-cyan-200">There are {% if maxPosts == 1 %}Post{% else %}{{ maxPosts }} Posts{% endif %} in my collection.</h2>
</div>

{% set postslist = collections.posts %}
{% include "postslist.njk" %}