<nav
  class="tw-bg-cyan-500 tw-relative tw-flex tw-flex-wrap tw-items-center tw-justify-around tw-px-2 tw-py-3 tw-navbar-expand-lg tw-mb-3"
>
  <div
    class="tw-container tw-px-4 tw-mx-auto tw-flex tw-flex-wrap tw-items-center tw-justify-between"
  >
    <div
      class="tw-w-full tw-relative tw-flex tw-justify-between lg:tw-w-auto tw-px-4 lg:tw-static lg:tw-block lg:tw-justify-start"
    >
      <a
        class="tw-text-md tw-font-bold tw-justify-items-center tw-align-middle tw-inline-block tw-mr-4 tw-py-2 tw-whitespace-no-wrap tw-uppercase tw-text-white"
        href="#pablo"
      >
        <img
          src="./img/logowhitem.png"
          alt="logo image"
          height="auto"
          width="auto"
          class="d-inline-block tw-h-16"
        />
      </a>
      <button
        class="tw-text-white tw-cursor-pointer tw-text-xl tw-leading-none tw-px-3 tw-py-1 tw-border tw-border-solid tw-border-transparent tw-rounded tw-bg-transparent tw-block lg:tw-hidden tw-outline-none focus:tw-outline-none"
        type="button"
        onclick="toggleNavbar('collapse-navbar')"
      >
        <i class="fas fa-bars"></i>
      </button>
    </div>
    <div
      class="lg:tw-flex tw-flex-grow tw-items-center tw-hidden"
      id="collapse-navbar"
    >
      <ul class="tw-flex tw-flex-col lg:tw-flex-row tw-list-none lg:tw-ml-auto">
        {%- for entry in collections.all | eleventyNavigation %}
        <li
          class="tw-flex tw-flex-col nav-item{% if entry.url == page.url %} nav-item-active{% endif %}"
        >
          <a href="{{ entry.url | url }}">{{ entry.title }}</a>

          <!-- Adding Child-->
          <div>
            {%- if entry.children.length -%}
            <ul>
              {%- for child in entry.children %}
              <a href="{{ child.url | url }}">{{ child.title }}</a>
              {% endfor -%}
            </ul>
            {%- endif -%}
          </div>
          <!-- End Add Child -->
        </li>

        {%- endfor %}
        <li class="nav-item">
          <a
            class="px-3 py-2 flex items-center text-xs uppercase font-bold leading-snug text-white hover:opacity-75"
            href="#pablo"
          >
            {% for social in settings.socials %}
            <i
              class="tw-border-pink-50 tw-border-solid tw-border-2 tw-rounded-2xl tw-p-3 fa fa-{{
                social.name
              }} fa-lg"
            ></i>
            {%- endfor %}
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<script>
  function toggleNavbar(collapseID) {
    document.getElementById(collapseID).classList.toggle("tw-hidden");
    document.getElementById(collapseID).classList.toggle("tw-flex");
  }
</script>
