---
layout: layouts/base.njk
templateClass: tmpl-post
---

<div class="tw-container tw-p-6 tw-mx-auto">
  <h1
    class="tw-text-2xl tw-text-cyan-50 tw-font-bold tw-text-center tw-p-3 tw-border-0 tw-rounded-t-2xl tw-bg-cyan-900 tw-mb-4 tw-uppercase"
  >
    {{ title }}
  </h1>
  {% if image %}

  <img
    src="{{ image }}"
    class="tw-rounded-md tw-h-24 md:tw-h-96 tw-w-full tw-object-cover"
    alt="{{ title }}"
  />

  {% else %}
  <img
    src="/../img/logoblueonlym.png"
    class="tw-rounded-md tw-h-24 md:tw-h-96 tw-w-full tw-object-cover"
    alt="{{ title }}"
  />
  {% endif %}

  <div class="tw-p-6 tw-mx-auto" id="postStyle">
    {{ content | safe }}
  </div>

  <div class="">
    <ul
      class="tw-flex tw-flex-nowrap tw-flex-row tw-relative tw-justify-between tw-mx-auto tw-p-6"
    >
      {%- set nextPost = collections.posts | getNextCollectionItem(page) %} {%-
      if nextPost %}
      <a
        class="tw-text-lg tw-font-medium tw-text-cyan-900"
        href="{{ nextPost.url | url }}"
      >
        <li
          class="tw-p-3 tw-text-right tw-m-3 tw-border-gray-600 tw-border-solid tw-border-l-8"
        >
          <i class="fas fa-long-arrow-alt-left"></i>
          <p class="tw-text-lg tw-font-semibold tw-text-cyan-900">Next:</p>

          {{ nextPost.data.title }}
        </li></a
      >
      {% endif %} {%- set previousPost = collections.posts |
      getPreviousCollectionItem(page) %} {%- if previousPost %}
      <a
        class="tw-text-lg tw-font-medium tw-text-cyan-900"
        href="{{ previousPost.url | url }}"
      >
        <li
          class="tw-p-3 tw-text-right tw-m-3 tw-border-gray-600 tw-border-solid tw-border-r-8"
        >
          <i class="fas fa-long-arrow-alt-right"></i>
          <p class="tw-text-lg tw-font-semibold tw-text-cyan-900">Previous:</p>
          {{ previousPost.data.title }}
          >
        </li></a
      >
      {% endif %}
    </ul>
  </div>
</div>
