---
layout: layouts/base.njk
templateClass: tmpl-post
---

<div class="tw-p-3 tw-mb-6">
  <h1 class="tw-text-2xl tw-text-cyan-900 tw-font-bold tw-text-center tw-p-3">
    {{ title }}
  </h1>
  {% if image %}

  <img
    src="{{ image }}"
    class="tw-rounded-md tw-h-24 md:tw-h-96 tw-w-full tw-object-cover"
    alt="{{ title }}"
  />

  {% else %}
  <img
    src="/../img/logoblueonlym.png"
    class="tw-rounded-md tw-h-24 md:tw-h-96 tw-w-full tw-object-cover"
    alt="{{ title }}"
  />
  {% endif %}
</div>

<div class="tw-p-6">
  {{ content | safe }}
</div>

<div class="">
  <ul
    class="tw-flex tw-flex-nowrap tw-flex-row tw-relative tw-justify-between tw-mx-auto tw-p-6"
  >
    {%- set nextPost = collections.posts | getNextCollectionItem(page) %} {%- if
    nextPost %}
    <li class="tw-p-3">
      <i class="fas fa-long-arrow-alt-left"></i>
      <p class="tw-text-lg tw-font-semibold tw-text-cyan-900">Next:</p>

      <a
        class="tw-text-lg tw-font-medium tw-text-cyan-900"
        href="{{ nextPost.url | url }}"
        >{{ nextPost.data.title }}</a
      >
    </li>
    {% endif %} {%- set previousPost = collections.posts |
    getPreviousCollectionItem(page) %} {%- if previousPost %}
    <li class="tw-p-3 tw-text-right">
      <i class="fas fa-long-arrow-alt-right"></i>
      <p class="tw-text-lg tw-font-semibold tw-text-cyan-900">Previous:</p>
      <a
        class="tw-text-lg tw-font-medium tw-text-cyan-900"
        href="{{ previousPost.url | url }}"
        >{{ previousPost.data.title }}</a
      >
    </li>
    {% endif %}
  </ul>
</div>
